body
{
	background-image:linear-gradient(to right,green,rgb(21, 189, 240),rgb(181, 226, 17));
	margin:50px;
	padding:0;
	font-family: arial;
	font-size: 15;
	height: 100px
	
	
}

	
h2
{
	font-size:50;
	color:black;
	text-indent:40px
}
h1 
{
	font-size: 20;
	color: white;
	text-indent:40px
}
h3
{
	text-indent:40px
	
}
h4
{
	
	font-size: 50;
	text-indent:80px
}
a
{
	font:bold;
}

.topnav
 {
	background-color:PURPLE;
	overflow:hidden;
	position:sticky;
}

a {
	
	color:white;
	text-align:right;
	font-size:22;
	font-family: arial bold;
	padding:14px 16px;

}


header
{
	background-color:red;
	width:1800px;
	height:200px;
	word-spacing:4px
	
}
div {
font-size: 24px;
	size: equal;
	width: 70%;
	background-color: rgb(153, 149, 98);
	
}
.topnav a:hover
 {
	background-color:blue;
	
}
.topnav a:active
 {
	color:blue;
	
}
.body.img
{
	width:1100px;
	height:700px;
	margin-left: 30%;
}
footer
{
	
	background-color:red;
	width:1800px;
	height:200px;
	word-spacing:4px
	
}

cook{
	
	width:1000px;
	height:200px;
	
}
.img{
margin: center ;
width:120%;
height:100%;
	
}

p 
{
	text-indent: 40px;
	
}
body
{
	width: 100%;
	

}
div.sample{
background-color: aqua;
width: 200px;
height: 200px;
margin-left: 10px;
float: left;

}
div.a{
	background-color: rgb(81, 44, 247);
width: 200px;
height: 200px;
margin-left: 10px;
float: left;
padding: left;

}
div.b{
	background-color: rgb(235, 23, 94);
	width: 200px;
	height: 200px;
	margin-left: 10px;
float: left;
}